<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apigate.swarmui.mapper.ConfigMapper" >
  <resultMap id="BaseResultMap" type="com.apigate.swarmui.model.Config" >
    <id column="configid" property="configid" jdbcType="VARCHAR" />
    <result column="clusterid" property="clusterid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    configid, clusterid, name, code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from swarm_config
    where configid = #{configid,jdbcType=VARCHAR}
  </select>
  <select id="selectByClusterId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from swarm_config
    where clusterid = #{clusterid,jdbcType=INTEGER}
  </select>
  <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from swarm_config
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <select id="selectByUserClusterKey" resultMap="BaseResultMap" parameterType="com.apigate.swarmui.model.UserClusterKey" >
    select 
    a.configid, a.clusterid, a.name, a.code
    from swarm_config a,swarm_user_config b
    where b.userid = #{userid,jdbcType=INTEGER} 
    and a.clusterid = #{clusterid,jdbcType=INTEGER}
    and a.configid=b.configid
  </select>
  <select id="countByClusterId" resultType="int" parameterType="java.lang.Integer" >
    select count(*)
    from swarm_config
    where clusterid = #{clusterid,jdbcType=INTEGER}
  </select>
  <select id="countByUserClusterKey" resultType="int" parameterType="com.apigate.swarmui.model.UserClusterKey" >
    select 
    count(*)
    from swarm_config a,swarm_user_config b
    where b.userid = #{userid,jdbcType=INTEGER} 
    and a.clusterid = #{clusterid,jdbcType=INTEGER}
    and a.configid=b.configid
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from swarm_config
    where configid = #{configid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apigate.swarmui.model.Config" >
    insert into swarm_config (configid, clusterid, name, 
      code)
    values (#{configid,jdbcType=VARCHAR}, #{clusterid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apigate.swarmui.model.Config" >
    insert into swarm_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="configid != null" >
        configid,
      </if>
      <if test="clusterid != null" >
        clusterid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="configid != null" >
        #{configid,jdbcType=VARCHAR},
      </if>
      <if test="clusterid != null" >
        #{clusterid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apigate.swarmui.model.Config" >
    update swarm_config
    <set >
      <if test="clusterid != null" >
        clusterid = #{clusterid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where configid = #{configid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apigate.swarmui.model.Config" >
    update swarm_config
    set clusterid = #{clusterid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR}
    where configid = #{configid,jdbcType=VARCHAR}
  </update>
</mapper>