<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apigate.swarmui.mapper.ServiceSecretRelationMapper" >
  <resultMap id="BaseResultMap" type="com.apigate.swarmui.model.ServiceSecretRelation" >
    <result column="serviceid" property="serviceid" jdbcType="VARCHAR" />
    <result column="secretid" property="secretid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ServiceResultMap" type="com.apigate.swarmui.model.SwarmServiceBasic" >
    <result column="serviceid" property="serviceid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />    
  </resultMap>
  <resultMap id="SecretResultMap" type="com.apigate.swarmui.model.Secret" >
    <result column="secretid" property="secretid" jdbcType="VARCHAR" />
    <result column="clusterid" property="clusterid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    serviceid, configid
  </sql>
  <sql id="Service_Column_List" >
    b.serviceid, b.name
  </sql>
  <sql id="Secret_Column_List" >
    b.secretid, b.clusterid, b.name, b.code
  </sql>
  <insert id="insert" parameterType="com.apigate.swarmui.model.ServiceSecretRelation" >
    insert into swarm_service_secret (serviceid, secretid)
    values (#{serviceid,jdbcType=VARCHAR}, #{secretid,jdbcType=VARCHAR})
  </insert>
  <delete id="deleteByServiceId" parameterType="java.lang.String" >
    delete from swarm_service_secret where serviceid = #{serviceid,jdbcType=VARCHAR}
  </delete>
  <select id="selectBySecretId" resultMap="ServiceResultMap" parameterType="java.lang.String" >
  	select 
  	<include refid="Service_Column_List" />
  	from swarm_service_secret a, swarm_service b 
  	where a.serviceid=b.serviceid and secretid = #{secretid,jdbcType=VARCHAR}
  </select>
  <select id="selectByServiceId" resultMap="SecretResultMap" parameterType="java.lang.String" >
  	select 
  	<include refid="Secret_Column_List" />
  	from swarm_service_secret a, swarm_secret b 
  	where a.secretid=b.secretid and serviceid = #{serviceid,jdbcType=VARCHAR}
  </select>
</mapper>