<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apigate.swarmui.mapper.UserConfigMapper" >
  <resultMap id="BaseResultMap" type="com.apigate.swarmui.model.UserConfig" >
    <result column="configid" property="configid" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="isowner" property="isowner" jdbcType="VARCHAR" />
    <result column="rights" property="rights" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, configid, isowner,rights
  </sql>
  <insert id="insert" parameterType="com.apigate.swarmui.model.UserConfig" >
    insert into swarm_user_config (configid, userid, isowner, 
      rights)
    values (#{configid,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{isowner,jdbcType=VARCHAR}, 
      #{rights,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apigate.swarmui.model.UserConfig" >
    insert into swarm_user_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="configid != null" >
        configid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="isowner != null" >
        isowner,
      </if>
      <if test="rights != null" >
        rights,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="configid != null" >
        #{configid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="isowner != null" >
        #{isowner,jdbcType=VARCHAR},
      </if>
      <if test="rights != null" >
        #{rights,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="com.apigate.swarmui.model.UserConfig" >
    delete from swarm_user_config
    where userid = #{userid,jdbcType=INTEGER} 
    and configid = #{configid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByConfigid" parameterType="java.lang.String" >
    delete from swarm_user_config
    where configid = #{configid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByUserid" parameterType="java.lang.Integer" >
    delete from swarm_user_config
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKey" parameterType="com.apigate.swarmui.model.UserConfig" >
    update swarm_user_config
    set rights = #{rights,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER} 
    and configid = #{configid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.apigate.swarmui.model.UserConfig" >
    select 
    <include refid="Base_Column_List" />
    from swarm_user_config
    where userid = #{userid,jdbcType=INTEGER}
    and configid = #{configid,jdbcType=INTEGER}
  </select>
  <select id="selectByConfigid" resultType="com.apigate.swarmui.model.UserConfigRight" parameterType="java.lang.String" >
    select 
    a.userid,a.username,a.account,a.email,a.telephone,a.weixin,a.role,a.status,b.configid as id,b.rights,b.isowner
    from swarm_user_config b,swarm_userinfo a
    where a.userid = b.userid
    and configid = #{configid,jdbcType=VARCHAR}
  </select>
</mapper>